<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.mambu.xbrl.server.XBRLProcessServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/mambuxbrl/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>xmldownload</servlet-name>
    <servlet-class>com.mambu.xbrl.server.DownloadXMLServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>xmldownload</servlet-name>
    <url-pattern>/mambuxbrl/xmldownload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>install</servlet-name>
    <servlet-class>com.mambu.xbrl.server.InstallServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>install</servlet-name>
    <url-pattern>/mambuxbrl/install</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uninstall</servlet-name>
    <servlet-class>com.mambu.xbrl.server.UninstallServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>uninstall</servlet-name>
    <url-pattern>/mambuxbrl/uninstall</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MambuXBML.jsp</welcome-file>
  </welcome-file-list>

</web-app>
